<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <center>
      <form action="evaluate" method="get">
        <table>
          <tr style="background-color: #c2c2c2">
            <td>
              <input name="name" type="text" value="" placeholder="name" />
            </td>
          </tr>
          <tr style="background-color: #db6f17">
            <td>
              <input
                name="th"
                type="number"
                value=""
                placeholder="Thai ability"
              />
            </td>
          </tr>
          <tr style="background-color: #db6f17">
            <td>
              <input
                name="en"
                type="number"
                value=""
                placeholder="English ability"
              />
            </td>
          </tr>
          <tr style="background-color: #db6f17">
            <td>
              <input
                name="es"
                type="number"
                value=""
                placeholder="Spanish ability"
              />
            </td>
          </tr>
          <tr style="background-color: #db6f17">
            <td>
              <input
                name="jp"
                type="number"
                value=""
                placeholder="Japaness ability"
              />
            </td>
          </tr>
          <tr style="background-color: #ab6ee7">
            <td><input name="clear" type="reset" value="Clear" /></td>
          </tr>
          <tr style="background-color: #ab6ee7">
            <td><input name="commit" type="submit" value="Precess.." /></td>
          </tr>
        </table>
      </form>
    </center>
  </body>
</html>
